<h2>News</h2>
<div *ngIf="news.length == 0">
  Keine neuen Nachrichten vorhanden.
</div>
<div *ngIf="news.length > 0">
  <div *ngFor="let newsentry of news">
    <b> {{ newsentry.title }} </b>
    {{ newsentry.field_teasertext }}
  </div>
</div>

<div *ngIf="topcourses.length > 0">
  <h2>Topkurse</h2>
  <div *ngFor="let course of topcourses">
    <b>{{ course.title }}</b>
    ID: {{ course.nid }}
    <a routerLink="/DetailTopCourse/{{ course.nid }}">Link zum Topkurs</a>
    <p [innerHTML]="course.body"></p>
  </div>
</div>
