.container-fluid{
  min-height: 650px;
  background-image: url('../../../assets/airAlpha.png'); //earth
  background-color: rgba(0, 128, 0, 0.7);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain ;
  background-attachment: fixed;
  border-radius: 0.5rem 0.5rem;
  padding: 10px;
}
