.container-fluid{
  background-image: url('../../../assets/airAlpha.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain ;
  //background-size: 90% 90%;
  background-attachment: fixed;
}

table{
  background-color: rgba(52, 58, 64, 0.7);
  border-radius: 0.5rem 0.5rem;
}

a{
  font-size: 150% ;
}
h2{
  padding-left: 10px;
}
