
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 row-no-gutters">
        <nav class="navbar flex-column fixed-left bg-primary navbar-dark"> <!-- add nav-tabs? size seems to be not changeable -->
          <div class="navbar-header">
            <button (click)="toggleCollapse()" type="button" class="navbar-toggler">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" [class.show]="show">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="navbar-brand" href="/home">Hochschulsport</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/DetailCourse">Detail Kurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kontakt</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/ngx-bootstrap.svg" class="logo">
      </a>
      <span class="navbar-brand">Angular + Bootstrap</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">
        Link <span class="sr-only">(current)</span>
      </a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown" dropdown>
        <a dropdownToggle role="button">
          Dropdown <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>-->
